*{
    font-family: 'Work Sans', sans-serif;
}
body{
    background-image: url("https://i.pinimg.com/originals/17/d2/65/17d265ee9b3e4acaad2ab94ee5a50b3c.jpg");
    background-size: cover;
    background-attachment: fixed;
}
h1{
    margin-left: auto;
}
:root{
  --background-dark: #2d3548;
  --text-dark: rgb(0,0,0);
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgb(255, 255, 255);
  --spacing-t: 2px;
  --spacing-p: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background: linear-gradient(90deg, rgba(0,146,255,1) 0%, rgba(0,146,255,1) 33%, rgba(255,0,0,1) 34%, rgba(255,0,0,1) 50%, rgba(255,0,0,1) 66%, rgba(255,115,0,1) 67%, rgba(255,115,0,1) 100%);
  display: flex;
  width: 1200px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding: var(--spacing-l) var(--spacing-t);
  border: 8px solid black;
  border-radius: 30px;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-xxl);
  grid-row-gap: var(--spacing-xxl);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 175%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-p);
  bottom: 0;
  filter: brightness(1) saturate(1) contrast(1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}
.genshin{
  color:rgb(255, 250, 250);
  margin-left: auto;
  margin-right: auto;
  width: 1150px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.288);
  padding: 1%;
  text-align: center;
}
.card:hover .card__background{
  transform: scale(1.16) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0) saturate(0.25) contrast(1) blur(5px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}